
body
  margin 0
  padding 0
  font 10px sans-serif

/*.chart div
  font 10px sans-serif
  background-color steelblue
  text-align right
  padding 3px
  margin 1px
  color white*/

/*path
  stroke steelblue
  stroke-width 1
  fill none*/

.axis path,
.axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.y.axis path
  display none

.y.axis line
  stroke #777
  stroke-dasharray 2,2

.input-area
  margin 0 20px

.seperator-line
  margin 5px
  width 100%
  max-width 100%

.realtime-wrapper
  height 400px
  width 100%
  margin 15px auto
  position relative

  .console, .graph
    float left
    width 45%
    height 100%
    background steelblue
  .graph
    margin-left 10%
    background none

.button-area-wrapper
  width 100%
  margin 15px auto
  position relative

  .add-area, .edit-area
    float left
    width 45%
  .edit-area
    margin-left 10%
