body
  margin 0
  padding 0
  font 10px sans-serif

/*.chart div
  font 10px sans-serif
  background-color steelblue
  text-align right
  padding 3px
  margin 1px
  color white*/

/*path
  stroke steelblue
  stroke-width 1
  fill none*/

.axis path,
.axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.y.axis path
  display none

.y.axis line
  stroke #777
  stroke-dasharray 2,2
